@page "/events"
@using EventManager.Components.Shared
@using EventManager.Models
@using EventManager.Data
@inject EventData EventData

<h2>Available Events</h2>

@if (events == null)
{
    <p>Loading events...</p>
}
else if (events.Count == 0)
{
    <p class="text-danger">No events found.</p>
}
else
{
    @foreach (var eventItem in events)
    {
        <EventCard Event="eventItem" />
    }
}

@code {
    private List<EventModel>? events = null;

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(500);

        events = await EventData.GetAllEventsAsync();
        await InvokeAsync(StateHasChanged);
    }
}
